.container, .mt-5 {
    display: block;
    text-align: center;
}

.alert, .alert-info, .display-1, .text-center {
    display: block;
    text-align: left;
    background-color: aquamarine;
    border: 1px solid black;
    width: 130px;
    height: 100px;
    padding: 5px;
    margin: auto;
}

.table, .table-striped, .table-inverse, .table-responsive, .thead-inverse {
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: auto;
}

.btn-danger {
    border: 1px solid black;
    background-color: red;
}

.btn, .btn-info {
    text-align: center;
}

.btn-success, .tbn-sm, .bi, .bi-pencil {
    border: 1px solid black;
    background-color: aqua;
}